@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base Styles */
body {
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #fff;

  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(36, 35, 83, 0.8),
      rgba(43, 27, 80, 0.8)
    ),
    url("./img/pokemonBackground.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* ----- Header Styles ----- */
.header {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

.header .logo a:hover {
  transform: scale(1.05);
}

.header .logo a span {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 6px;
}

.header .logo img {
  width: 150px;
}

.form-control {
  border: 3px solid transparent;
  display: flex;
  align-items: center;
  width: 300px;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: #fff;
}

.form-control .pokemon-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #000;
  background-color: transparent;
  margin-right: 10px;
}

.form-control .pokemon-input::placeholder {
  color: #000;
}

.form-control .search-btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

/* ----- Main Styles ----- */
.pokemon-content {
  padding: 140px 20px 90px;
}

.pokemon-content .container {
  max-width: 1200px;
  padding: 20px 30px 90px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.pokemon-name {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-transform: capitalize;
}

/* ----- Pokemon Info Section ----- */
.pokemon-info,
.stats-additional {
  padding: 0 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pokemon-info > *,
.pokedex-training > *,
.stats-additional > * {
  flex: 1;
  /* border: 2px solid black; */
}

.pokemon-img {
  max-width: 430px;
}

.pokedex-training {
  display: flex;
  gap: 20px;
}

.pokedex-data h2,
.training h2,
.base-stats h2,
.additional-info h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.data-list li,
.training-list li,
.additional-info li {
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  font-size: 1.8rem;
}

.data-list span,
.training-list span,
.additional-info span {
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}

/* ----- Pokemon Stats/Additional Section -----*/
.stats-additional .base-stats {
  flex: 2;
}

/* ----- Utility Classes ----- */
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}
